<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">
            <i>
                <b style="color:greenyellow">&copy;YelpCamp2023</b>
            </i>
        </span>
    </div>
</footer>