<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style type="text/css">
        .hell {
            color: rgb(15, 40, 142);
            font-size: large;
        }

        .wel {
            color: red;
            text-align: center;

        }

        .can {
            width: 500px;
            height: 500px;
            position: sticky;
            top: 5px;
            left: 400px
        }

        .body {
            background-color: blanchedalmond;
        }
    </style>

</head>

<body class="body">
    <button>
        <a href="/campgrounds">All Camp</a>
    </button>
    <h1 class="wel"> Welcome to the Anubhav's Yelp Camp</h1>

    <img class="can" src="https://c.stocksy.com/a/xF0200/z9/477645.jpg" alt="">
    <div class="hell">
        <br> YelpCamp is an online tool created to provide campers and outdoor enthusiasts with a complete platform.
        It makes it easier to arrange amazing camping trips by letting people explore, discuss, and review campgrounds
        and outdoor locations.
        Through the project's user-friendly interface, campers may share and read reviews of nearby campgrounds, find
        new spots to explore, and connect with other outdoor enthusiasts.
    </div>
</body>

</html>